.btn-box {
  display: flex;
  justify-content: center;
}

.btn {
  color: #FFFFFF;
  width: 200px;
  text-shadow: 1px 1px 0px #FFFFFF;
  box-shadow: 10px 10px 6px 0px rgba(0, 0, 0, 0.1);
  padding: 15px 10px;
  border-radius: 30px;
  border: 2px solid #9356DC;
  background-color: #9356DC;
  text-align: center;
  justify-content: center;
}
.btn:hover {
  background-color: #a16be0;
  box-shadow: 10px 10px 6px 0px rgba(0, 0, 0, 0.3);
}

@font-face {
  src: url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
  font-family: "Roboto", sans-serif;
  font-family: "Shrikhand", cursive;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

h1, .shrikhand {
  font-family: "Shrikhand", cursive;
}

ul {
  list-style-type: none;
}

a:link {
  text-decoration: none;
}

a {
  color: black;
}

.logo {
  text-align: center;
  height: 50px;
  margin-bottom: 5%;
}

.logo-txt {
  margin: 0%;
  padding: 5%;
}

#city {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  height: 50px;
}

#posico {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#input-txt {
  height: 50px;
  background-color: lightgray;
}

main {
  background-color: #f4f4f4;
}

#explorer {
  text-align: center;
  margin-bottom: 10%;
  padding: 5%;
}

#fonction {
  background-color: white;
  padding: 5%;
}

#tuto-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
}
#tuto-container .tuto {
  display: flex;
  flex-direction: row;
  height: 28%;
  border-radius: 20px;
  align-items: center;
  background-color: #f4f4f4;
  box-shadow: 10px 10px 6px 0px rgba(0, 0, 0, 0.1);
}
#tuto-container .tuto:hover {
  background-color: #FF79DA;
}
#tuto-container .tuto .tuto__number {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
  right: 10px;
}
#tuto-container .tuto .tuto__ico {
  color: grey;
}
#tuto-container .tuto .tuto__ico:hover {
  background-color: #9356DC;
}

#restos {
  padding: 5%;
}
#restos #restos-container {
  display: flex;
  flex-direction: column;
}
#restos #restos-container .restos-card {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  height: 300px;
  margin-bottom: 5%;
  box-shadow: 10px 10px 6px 0px rgba(0, 0, 0, 0.1);
}
#restos #restos-container .restos-card .restos-card__img {
  object-fit: cover;
  height: 80%;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#restos #restos-container .restos-card .restos-card__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  padding-left: 5%;
}
#restos #restos-container .restos-card .restos-card__body .restos-card__title {
  margin-bottom: 0%;
}
#restos #restos-container .restos-card .restos-card__body .restos-card__heart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

footer {
  background-color: #393e41;
  color: white;
  margin: 0%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 50px;
}

footer ul {
  padding-left: 5%;
  margin: 0%;
}

footer ul li {
  margin-bottom: 5px;
}

.foot-ul__li {
  padding-right: 10px;
}

.banner {
  text-align: center;
  height: 50px;
}

.index-arrow {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10.242px;
  left: 5px;
}

.title__card {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  margin-top: 21px;
}
.title__card .title__img {
  object-fit: cover;
  height: 300px;
}
.title__card .title__body {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
  top: -50px;
  border: #9356DC solid;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.carte {
  padding: 3%;
}

.shortline {
  position: relative;
  margin-bottom: 15%;
}
.shortline .shortline__line {
  border-bottom: 4px solid #99E2D0;
  position: absolute;
  left: 0;
  right: 85%;
}

.menu-title {
  margin-bottom: 5px;
}

.menu-card {
  background-color: white;
  border-radius: 20px;
  padding-left: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5%;
  box-shadow: 10px 10px 6px 0px rgba(0, 0, 0, 0.1);
}
.menu-card .menu-card__price {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-right: 5%;
}

/*# sourceMappingURL=style.css.map */
