/*color palette
#9356DC Primaire (violet)
#FF79DA Secondaire (rose)
#99E2D0 Tertiaire (vert)
*/


@font-face {  


    src:  url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');


    font-family: 'Roboto', sans-serif;

    font-family: 'Shrikhand', cursive;



}

*{
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}
a:link {
    text-decoration: none;
}

a {
    color: black;
}
body{

    


    font-family: 'Roboto', sans-serif;




}

main{

    background-color: #F4F4F4;
}
h1, .shrikhand{

    font-family: 'Shrikhand', cursive;
}

.x{
    position: relative;
    margin-bottom: 15%;
}


.y{

    border-bottom: 5px solid #99E2D0;
    position: absolute;
    
    left: 0;
right: 80%;


}









#logo{

    background-color: white;
    text-align: center;
    height: 50px;
    margin-bottom: 5%;

}

#logo-txt{

    margin: 0%;
    padding: 5%;
}
.button-box{

    display: flex;
    justify-content: center;
}

.button{
    
  color: #FFFFFF;
  width: 200px;
  text-shadow: 1px 1px 0px #FFFFFF;
  box-shadow: 2px 8px 3px #F3C7FC;
  padding: 15px 10px;
  border-radius: 30px;
  border: 2px solid #9356DC;
  background: #9356DC;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  text-align: center;
  justify-content: center;
}


#explorer{

    text-align: center;
    margin-bottom: 10%;
    padding: 5%;
}










#fonction{

    background-color: white;
padding: 5%;

}



#f-container{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}






.tuto{


    display: flex;
    flex-direction: row;
   
    height: 31%;
    border-radius: 20px;

    align-items: center;

background-color: gainsboro;

}

.tuto:hover{

    background-color: #FF79DA;
}

.number{

display: flex;
justify-content: center;
align-items: center;
    background-color:#9356DC ;
    color: white;
width: 25px;
height: 25px;
border-radius: 50%;
position: relative;
right: 10px;




}


.f-ico{

    background-color: lightgrey;
   
}

.f-ico:hover{

    color:#9356DC ;
}


.f-txt{
    background-color: lightcoral;
   
}










#restos{

    padding: 5%;
}


#restos-container{

    display: flex;
    flex-direction: column;
    
    
}







.restos-card{

    background-color: white;

    display: flex;
    flex-direction: column;
border-radius: 20px;



height: 300px;
margin-bottom: 5%;







}







.restos-img{

    object-fit: cover;
    height: 80%;

overflow: hidden;
border-top-left-radius: 20px;
border-top-right-radius: 20px;


}




.restos-body{


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}




.restos-title{

    margin-bottom: 0%;
}




.restos-heart{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
}




.banner{

    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
}








.title-card{


    display: flex;
    flex-direction: column;
    background-color: #F4F4F4;
}




.title-img{

    object-fit: cover;
   
    

}


.title-body{

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    top: -50px;
    border: #9356DC solid;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    
}















.carte{

    padding: 5%;
}


.card-container{

    display: flex;
    flex-direction: column;
}



.card{

    background-color: white;

    border-radius: 20px;
padding-left: 5%;

display: flex;
flex-direction: row;
justify-content: space-between;

margin-bottom: 5%;





}


.card-price{

    display: flex;
    justify-content: center;
    align-items: flex-end;
}





footer{

    background-color: black;
    color: white;
}