.btn-box {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn {
  color: #FFFFFF;
  width: 200px;
  text-shadow: 1px 1px 0px #FFFFFF;
  box-shadow: 10px 10px 6px 0px rgba(0, 0, 0, 0.1);
  padding: 15px 10px;
  border-radius: 30px;
  background-color: #9356DC;
  background: linear-gradient(#FF79DA, #9356DC);
  text-align: center;
  justify-content: center;
}
.btn:hover {
  box-shadow: 10px 10px 6px 0px rgba(0, 0, 0, 0.3);
  filter: brightness(1.1);
}

@font-face {
  src: url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
  font-family: "Roboto", sans-serif;
  font-family: "Shrikhand", cursive;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
}

h1, .shrikhand {
  font-family: "Shrikhand", cursive;
}

ul {
  list-style-type: none;
}

a:link {
  text-decoration: none;
}

a {
  color: black;
}

header {
  background-color: white;
}

.logo {
  text-align: center;
  height: 50px;
  margin-bottom: 5%;
}

.logo-txt {
  margin: 0%;
  padding: 5%;
}

#city {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  height: 50px;
}

#posico {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
}

input[type=text] {
  width: 100%;
  padding: 12px;
  padding-left: 0px;
  border: none;
}

#input-txt {
  height: 50px;
  width: 200px;
  background-color: lightgrey;
}

main {
  margin-bottom: 50px;
}

#explorer {
  text-align: center;
  margin-bottom: 10%;
  padding: 5%;
}

#fonction {
  background-color: white;
  padding: 5%;
}

#tuto-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  margin-bottom: 50px;
}
#tuto-container .tuto {
  display: flex;
  flex-direction: row;
  height: 28%;
  border-radius: 20px;
  align-items: center;
  background-color: #f4f4f4;
  box-shadow: 10px 10px 6px 0px rgba(0, 0, 0, 0.1);
}
#tuto-container .tuto:hover {
  background-color: #f2eafb;
}
#tuto-container .tuto:hover .tuto__ico {
  color: #9356DC;
}
#tuto-container .tuto .tuto__number {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
  right: 15px;
}
#tuto-container .tuto .tuto__ico {
  color: grey;
  padding: 5%;
}
#tuto-container .tuto .tuto__txt {
  padding-left: 10px;
}

#restos {
  padding: 5%;
}
#restos #restos-container {
  display: flex;
  flex-direction: column;
}
#restos #restos-container .restos-card {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  height: 300px;
  margin-bottom: 5%;
  box-shadow: 10px 10px 6px 0px rgba(0, 0, 0, 0.1);
}
#restos #restos-container .restos-card .restos-card__img {
  object-fit: cover;
  height: 80%;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#restos #restos-container .restos-card .restos-card__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  padding-left: 5%;
  padding-right: 5%;
}
#restos #restos-container .restos-card .restos-card__body .restos-card__title {
  margin-bottom: 0%;
}
#restos #restos-container .restos-card .restos-card__body .restos-card__site {
  margin-top: 2%;
}
#restos #restos-container .restos-card .restos-card__heart {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}
#restos #restos-container .restos-card .restos-card__heart .hearts {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#restos #restos-container .restos-card .restos-card__heart i {
  position: absolute;
  display: block;
}
#restos #restos-container .restos-card .restos-card__heart .heart1 {
  transition: opacity 0.3s, transform 1s;
}
#restos #restos-container .restos-card .restos-card__heart .heart2 {
  transition: opacity 0.3s, transform 1s;
  transform: scale(0.5);
  opacity: 0;
}
#restos #restos-container .restos-card .restos-card__heart:hover .heart2 {
  transform: scale(1);
  opacity: 1;
  color: #9356DC;
}
#restos #restos-container .restos-card .restos-card__heart:hover .heart1 {
  transform: scale(0.5);
  opacity: 0;
}

footer {
  background-color: #393e41;
  color: white;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 20px;
}

footer a {
  color: white;
}

footer ul {
  padding-left: 5%;
  margin: 0%;
}

footer ul li {
  margin-bottom: 5px;
}

.foot-ul__li {
  padding-right: 10px;
}

.banner {
  text-align: center;
  height: 50px;
}

.index-arrow {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10.242px;
  left: 5px;
}

.title__card {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  margin-top: 21px;
  margin-bottom: -70px;
}
.title__card .title__img {
  object-fit: cover;
  height: 300px;
}
.title__card .title__body {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
  top: -50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f4f4f4;
  height: 100px;
}

.carte {
  padding: 3%;
  animation: card-loading 4s;
}

.shortline {
  position: relative;
  margin-bottom: 30px;
}
.shortline .shortline__line {
  border-bottom: 4px solid #99E2D0;
  position: absolute;
  left: 0;
  right: 85%;
}

.menu-title {
  margin-bottom: 5px;
}

.menu-card {
  background-color: white;
  border-radius: 20px;
  padding-left: 3%;
  height: 90px;
  display: flex;
  flex-direction: row;
  margin-bottom: 5%;
  box-shadow: 10px 10px 6px 0px rgba(0, 0, 0, 0.1);
  flex-wrap: nowrap;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu-card:hover .slide-check {
  width: 45%;
  height: 100%;
}
.menu-card:hover .check-ico {
  rotate: 1turn;
}
.menu-card .menu-card__txt {
  overflow: hidden;
  padding-bottom: 5%;
  width: 90%;
}
.menu-card .menu-card__txt h3 {
  margin-bottom: 0%;
}
.menu-card .menu-card__price {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-right: 5%;
}
.menu-card .slide-check {
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 0%;
  transition-property: width;
  transition-duration: 0.5s;
}
.menu-card .check-ico {
  color: white;
  transition: 0.5s ease-in-out;
}

.loading {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 30%;
}

.loading--full-height {
  align-items: center;
  height: 100%;
}

.loading::after {
  content: "";
  width: 150px;
  height: 150px;
  border: 10px solid #FF79DA;
  border-top-color: #99E2D0;
  border-radius: 50%;
  transform: rotate(0.16turn);
  animation: loading 1s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
@keyframes card-loading {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*# sourceMappingURL=style.css.map */
