@use "abstracts" as *;
@use'components/buttons';
@use "components/animations.scss";
@use 'base/typography';
@use 'layout/footer.scss';
* {
    box-sizing: border-box;
}

body {
    background-color: $grey;
}

ul {
    list-style-type: none;
}

a:link {
    text-decoration: none;
}

a {
    color: black;
}

header {
    background-color: white;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    

    @include tablet {
        transform: scale(1.5);
      
        padding: 4%;
    }
    @include desktop {
        transform: scale(1.5);
        padding: 3%;
       
    }
}

.logo-txt {
    margin: 0%;
    padding: 5%;
}

.logo-img {
    height: 40px;
    
}

#city {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    height: 50px;
    
}

#posico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
}

input[type=text] {
    width: 100%;
    padding: 12px;
    padding-left: 0px;
    border: none;
}

#input-txt {
    height: 50px;
    width: 200px;
    background-color: lightgrey;
}

main {
    margin-bottom: 50px;
}

#explorer {
    text-align: center;
    margin-bottom: 10%;
    padding: $padding;
    @include tablet {
        margin-bottom: 0%;
    }
}

#fonction {
    background-color: white;
    padding: $padding;
    @include tablet {
        padding-top: 2%;
        padding-bottom: 2%;
    }
}

#tuto-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    margin-bottom: 50px;
    @include tablet {
        padding-left: 15%;
        padding-right: 15%;
        padding-top: 2%;
    }
    @include desktop {
        padding-left: 25%;
        padding-right: 25%;
    }
}

.tuto {
    display: flex;
    flex-direction: row;
    height: 28%;
    border-radius: 20px;
    align-items: center;
    background-color: $grey;
    box-shadow: $box-shadow;
    &:hover {
        background-color: lighten($color: $primary, $amount: 35);
        .tuto__ico {
            color: $primary;
        }
    }
    .tuto__number {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primary;
        color: white;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        position: relative;
        right: 15px;
        @include tablet {
            width: 35px;
            height: 35px;
        }
    }
    .tuto__ico {
        color: grey;
        padding: $padding;
    }
    #mobile-ico {
        display: contents;
        @include tablet {
            display: none;
        }
    }
    #tablet-ico {
        display: none;
        @include tablet {
            display: contents;
        }
        @include desktop {
            display: none;
        }
    }
    #desktop-ico {
        display: none;
        @include tablet {
            display: none;
        }
        @include desktop {
            display: contents;
        }
    }
    .tuto__txt {
        padding-left: 10px;
        @include tablet {
            padding-left: 10%;
            padding-right: 5%;
        }
        @include desktop {
            padding-left: 15%;
            padding-right: 10%;
        }
    }
}

#restos {
    padding: $padding;
    @include tablet {
        padding: 2%;
    }
}

#restos-container {
    display: flex;
    flex-direction: column;
    @include tablet {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    @include desktop {
        flex-wrap: nowrap;
    }
}

.restos-container__box {
    @include tablet {
        width: 44%;
    }
    @include desktop {
        width: 23%;
    }
    .restos-card {
        background-color: white;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        height: 300px;
        width: 100%;
        margin-bottom: 5%;
        box-shadow: $box-shadow;
        @include desktop {
            height: 500px;
            justify-content: flex-end
        }
    }
    .restos-card__img {
        object-fit: cover;
        height: 80%;
        width: 100%;
        overflow: hidden;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        @include desktop {
            height: 90%;
        }
    }
    .restos-card__body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        justify-items: center;
        padding-left: 5%;
        padding-right: 5%;
        .restos-card__title {
            margin-bottom: 0%;
        }
        .restos-card__site {
            margin-top: 2%;
        }
    }
    .restos-card__heart {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: $padding;
        cursor: pointer;
        transition: all 0.3s ease;
        .hearts {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        i {
            position: absolute;
            display: block;
        }
        .heart1 {
            transition: opacity .3s, transform 1s;
        }
        .heart2 {
            transition: opacity .3s, transform 1s;
            transform: scale(0.5);
            opacity: 0;
        }

        &:hover {
            .heart2 {
                transform: scale(1);
                opacity: 1;
                color: $primary;
            }
            .heart1 {
                transform: scale(.5);
                opacity: 0;
            }
        }
    }
}

.banner {
    text-align: center;
    height: 60px;
}

.index-arrow {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
}

.title__card {
    display: flex;
    flex-direction: column;
    background-color: $grey;
    margin-top: 10px;
    margin-bottom: -70px;
    @include tablet {
        padding-left: 10%;
        padding-right: 10%;
    }
    .title__img {
        object-fit: cover;
        height: 300px;

        @include tablet {
            height: 400px;
            margin-top: 2%;
        }

        @include desktop {
            height: 500px;
        }
    }
    .title__body {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        position: relative;
        top: -50px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        background-color: $grey;
        height: 100px;
        justify-content: space-around;
        padding-left: 5%;
    }
    .title-heart {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: $padding;
        cursor: pointer;
        .heartsx {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-right: 10px;
        }
        i {
            position: absolute;
            display: block;
        }
        .heart1 {
            transition: opacity .3s, transform 1s;
        }
        .heart2 {
            transition: opacity .3s, transform 1s;
            transform: scale(0.5);
            opacity: 0;
        }
        &:hover {
            .heart2 {
                transform: scale(1);
                opacity: 1;
                color: $primary;
            }
            .heart1 {
                transform: scale(.5);
                opacity: 0;
            }
        }
    }
}

.carte {
    padding: 3%;
    animation: card-loading 4s;
    @include tablet {
        padding-left: 20%;
        padding-right: 20%;
        padding-bottom: 0%;
    }
}

.shortline {
    position: relative;
    margin-bottom: 30px;
    .shortline__line {
        border-bottom: 4px solid $tertiary;
        position: absolute;
        left: 0;
        right: 85%;
        @include tablet {
            right: 90%;
        }
    }
}

.menu-title {
    margin-bottom: 5px;
    font-weight: 100;
}

.menu-card {
    background-color: white;
    border-radius: 20px;
    padding-left: 3%;
    height: 90px;
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
    box-shadow: $box-shadow;
    flex-wrap: nowrap;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    &:hover .slide-check {
        width: 30%;
        height: 100%;
        @include tablet {
            width: 20%;
        }
    }
    &:hover .check-ico {
        transform: rotate(1turn);
    }
    .menu-card__txt {
        overflow: hidden;
        padding-bottom: 5%;
        width: 90%;
    }
    .menu-card__txt h3 {
        margin-bottom: 0%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .menu-card__txt p {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .menu-card__price {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-right: 5%;
    }
    .slide-check {
        background-color: $tertiary;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 0%;
        transition-property: width;
        transition-duration: 0.5s;
    }
    .check-ico {
        color: white;
        transition: 0.5s ease-in-out;
    }
}




    



