
@import'components/buttons';















@font-face {  


    src:  url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');


    font-family: 'Roboto', sans-serif;

    font-family: 'Shrikhand', cursive;



}











$primary:#9356DC;
$secondary:#FF79DA;
$tertiary:#99E2D0;
$grey:#f4f4f4;
$box-shadow: 10px 10px 6px 0px rgba(0,0,0,0.1);
$padding: 5%;













*{
    box-sizing: border-box;
}

body{
    
    font-family: 'Roboto', sans-serif;
    background-color: $grey;

}

h1, .shrikhand{

    font-family: 'Shrikhand', cursive;
}









ul {
    list-style-type: none;
}
a:link {
    text-decoration: none;
}

a {
    color: black;
}

header{

    background-color: white;
}


.logo{

    
    text-align: center;
    height: 50px;
    margin-bottom: 5%;

}

.logo-txt{

    margin: 0%;
    padding: 5%;
}

#city {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    
    
    background-color: lightgray;
    height: 50px;
}

#posico {
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
           
}

#input-txt {
   
    height: 50px;
   background-color:lightgray;
}


main{

    margin-bottom: 50px;
}




#explorer{

    text-align: center;
    margin-bottom: 10%;
    padding: 5%;
    
}


#fonction{

    background-color: white;
    padding: 5%;

}



#tuto-container{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    margin-bottom: 50px;

    
    .tuto{


        display: flex;
        flex-direction: row;
        height: 28%;
        border-radius: 20px;
        align-items: center;
        background-color: $grey;
        box-shadow: $box-shadow;

        &:hover{

            background-color: lighten($color: $primary, $amount: 35);
        }


        .tuto__number{

            display: flex;
            justify-content: center;
            align-items: center;
            background-color:$primary ;
            color: white;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            position: relative;
            right: 10px;
                                               
            }


            .tuto__ico{

                color: grey;
               
                &:hover{

                    background-color: $primary;
                }
            }


    }

}


#restos{

    padding: 5%;

    #restos-container{

        display: flex;
        flex-direction: column;
    
        .restos-card{

            background-color: white;
            display: flex;
            flex-direction: column;
            border-radius: 20px;        
            height: 300px;
            margin-bottom: 5%;
            box-shadow: $box-shadow;
        
            .restos-card__img{

                object-fit: cover;
                height: 80%;
                overflow: hidden;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
            
            } 
            .restos-card__body{
            
            
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                justify-items: center;
                padding-left: 5%;


                .restos-card__title{

                    margin-bottom: 0%;
                }
                     
                .restos-card__site{

                    margin-top: 2%;
                }

                
                .restos-card__heart{
                
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    padding: $padding;
                    
                }
            
                
            }
            
                
        }




    }
          
               
        

}

footer{

    background-color: #393e41;
    color: white;
   
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 20px;
}

footer ul{

    padding-left: 5%;
    margin: 0%;
}

footer ul li {
    margin-bottom: 5px;
}

.foot-ul__li{

    padding-right: 10px;
}

.banner{

    text-align: center;
    height: 50px;
}

.index-arrow{

    
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10.242px;
    left: 5px;
}

.title__card{


    display: flex;
    flex-direction: column;
    background-color: $grey;
    margin-top: 21px;


    .title__img{

        object-fit: cover;
        height: 300px;
      
            
    }


    .title__body{

        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        position: relative;
        top: -50px;
        border: #9356DC solid;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
       
        
    }


}




.carte{

    padding: 3%;
}


.shortline{
    position: relative;
    margin-bottom: 15%;

    .shortline__line{

    border-bottom: 4px solid $tertiary;
    position: absolute;
    left: 0;
    right: 85%;

    }



}

.menu-title{

    margin-bottom: 5px;
    
}


.menu-card{

    background-color: white;

    border-radius: 20px;
padding-left: 3%;

display: flex;
flex-direction: row;
justify-content: space-between;

margin-bottom: 5%;
box-shadow:$box-shadow;


.menu-card__price{

    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-right: 5%;
}


.slide-check{

    background-color: $tertiary;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    animation-duration: 3s;
    animation-name: slidein;
   
    



  }
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 0%;

     


    }
  
    to {
      margin-left: 0%;
      width: 20%;
    }
  }

}