
.btn-box{

    display: flex;
    justify-content: center;
    
}




.btn{
    
    color: #FFFFFF;
    width: 200px;
    text-shadow: 1px 1px 0px #FFFFFF;
    box-shadow: 2px 8px 3px #F3C7FC;
    padding: 15px 10px;
    border-radius: 30px;
    border: 2px solid #9356DC;
    background: #9356DC;
    background: linear-gradient(to top, #9356DC, #FF79DA);
    text-align: center;
    justify-content: center;




  }