

@font-face {  


    src:  url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');

    font-family: 'Roboto', sans-serif;
    font-family: 'Shrikhand', cursive;

}

body{


    font-family: 'Roboto', sans-serif;
}

h1, .shrikhand{

    font-family: 'Shrikhand', cursive;
}