

@font-face {  


    src:  url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');

    font-family: 'Roboto';
    font-family: 'Shrikhand';

}

body{


    font-family: 'Roboto', sans-serif;
}

h1, .shrikhand{

    font-family: 'Shrikhand', cursive;
}

.menu-title{

    
   color: lighten($color: #000000, $amount: 40);


}